/* Container for the cast slider */
.cast-list{
  padding: 3vw;
}
  /* Heading for the cast section */
  .cast-heading {
    font-size: 34px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    color: #ffffff;
  }
  .cast-container{
    display: flex;
    overflow: auto;
    gap: 20px;
    scrollbar-width: none;
  }
  /* Image of the cast member */
  .cast-image{
    object-fit: cover;
    border-radius: 18px;
    width: 100px;
  }
  
  /* Name of the cast member */
  .cast-name {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    color: #ff0000b8;
  }
  