
.movie-details .header{
  display: flex;
  flex-wrap:nowrap;
  width: 100%;
  gap: 2rem;
  box-sizing: border-box;
  padding: 20px;
}
.movie-details .header .header-image{
  flex: 0 0 40%;
  text-align: center;
  border-radius: 20px;
}
.movie-details .header .header-image img{
  border-radius: 20px;
  height: 40rem;
}

.movie-cards {
    background-color: #807d7d31; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    /* margin-right: 30px; */
    width: 50%;
}
.movie-cards h2 {
    font-size: 1.8em; 
    font-weight: bold; 
    color: #ffffff; 
    text-align: start;
    margin-bottom: 10px; 
}
.movie-cards .year-certficate-genre {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
    font-size: 0.9em; 
    color: #ffffffe2; 
    margin-bottom: 15px; 
  }
  
  .movie-cards .year-certficate-genre p {
    margin: 0; 
  }
  
  .movie-cards p {
    font-size: 1em; 
    line-height: 1.5; 
    margin: 8px 0; 
    text-align: start;
  }
  
  .movie-cards p span {
    font-weight: bold; 
    color: #f43434;
  }
  
  .movie-cards .runtime {
    font-size: 0.9em; 
    color: #666;
  }
  .cast-list{
    width: 100%;
  }
  /* Mobile Styling */
@media (max-width: 768px) {
  .header .header-title{
    display: none;
  }
  .movie-details .header{
    display: block;
  }
  .movie-details .header .header-image img{
    border-radius: 20px;
    height: 400px;
    object-fit: cover;
    width: 300px;
  }
  .movie-cards {
    width: 100%;
    border-radius: 10% 10% 0 0;
  }
}